//******************************************************************************
// MIDIシーケンサーソフト『世界樹』
// リソーススクリプトファイル
// (C)2002-2017 おーぷんMIDIぷろじぇくと／くず
//******************************************************************************

/* This Source Code Form is subject to the terms of the Mozilla Public */
/* License, v. 2.0. If a copy of the MPL was not distributed with this */
/* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

// 警告：このファイルはVisualC++のリソースエディタで編集しないでください。
// 警告：このファイルはテキストエディタで編集してください。

#include "winver.h"
#include "resource.h"
#include <afxres.h>

//-----------------------------------------------------------------------------
// アイコン
//-----------------------------------------------------------------------------

// アプリケーションのアイコンをすべてのシステム上で維持するために、最も小さい
// ID 値のアイコンが最初に配置されます。
IDR_MAINFRAME           ICON    DISCARDABLE      "..\\res\\MainFrame.ico"
IDR_SEKAIJUTYPE         ICON    DISCARDABLE      "..\\res\\SekaijuType.ico"


